.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.imgContainer {
  width: 100%;
  height: 100px;
}

.table {
  width: 100%;
  
  border-spacing: 20px;
}

.name {
  color: #595959;
  font-weight: 800;
  text-transform: capitalize;
}

.trTitle {
  display: none;
}

.tr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.price {
  color: #595959;
  font-weight: 500;
  font-size: 15px;
}

.price::before {
  content: "Prix : ";
  font-weight: bold;
}

.quantity {
  color: #595959;
  font-weight: 200;
}

.quantity::before {
  content: "Qty : ";
  font-weight: bold;
}

.total {
  color: #d70f64;
  font-weight: bold;
  font-size: 20px;
}

.total::before {
  content: "Total : ";
}

.wrapper {
  width: 100%;
  height: 300px;
  max-height: 400px;
  background-color: #333;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.title {
  margin-bottom: 20px;
}

.totalText {
  margin-bottom: 10px;
}

.totalTextTitle {
  margin-right: 10px;
}

.cashBtn{
  width: 100%;
  height: 40px;
  background-color: #252525;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: #d70f64;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .container {
    padding: 50px;
    flex-direction: row;
  }

  .wrapper {
    width: 90%;
  }

  .trTitle {
    display: table-row;
  }

  .tr {
    display: table-row;
  }

  .price::before {
    content: "";
  }

  .total::before {
    content: "";
  }

  .quantity::before {
    content: "";
  }
}
