@font-face {
  font-family: "Ember";
  src: url("/fonts/Amazon-Ember-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "EmberLight";
  src: url("/fonts/AmazonEmber_Lt.ttf") format("truetype");
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,h1,h2,h3,h4{
  font-family: "Ember", sans-serif;
}